= form_for(object) do |f|
  = render 'shared/errors', object: object
  = f.label :name
  = f.text_field :name, size: 40, autofocus: true
  = f.label :username
  = f.text_field :username, size: 40, placeholder: "Alphanumeric characters only!"
  = f.label :email
  = f.email_field :email, size: 40
  = f.label :password
  = f.password_field :password, size: 40
  = f.label :password_confirmation, "Confirm Password"
  = f.password_field :password_confirmation, size: 40
  - if @user.new_record?
    = f.submit "Sign Up"
  - else
    = f.submit "Update Account"
