%article#user
  %header
    = profile_image_for(@user)
    %h1= @user.name
    %p= mail_to(@user.email)
    %p Member since #{@user.created_at.strftime("%B, %Y")}
  %footer
    = link_to "Edit #{@user.name}", edit_user_path(@user)
    = link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure you want to delete your account?"}, class: 'button'