%h1= "Edit #{@event.name}"

= form_for(@event) do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label :description
  = f.text_area :description, cols: 40, rows: 7
  %br
  = f.label :location
  = f.text_field :location
  %br
  = f.label :price
  = f.number_field :price
  %br
  = f.label :starts_at
  = f.datetime_select :starts_at
  %br
  = f.submit "Save Changes"