%h1= pluralize(@events.size, 'Event')
- @events.each do |event|
  %article
    %header
      %h2
        =link_to(event.name, event)
    %p= truncate(event.description, length: 35, separator: ' ')
    %table
      %tr
        %th When:
        %td= event.starts_at
      %tr
        %th Where:
        %td= event.location
      %tr
        %th Price:
        %td= format_price(event)
    
