%h1= pluralize(@events.size, 'Event')

- @events.each do |event|
  %article.event
    %header
      = image_for(event)
      %h2
        = link_to(event.name, event)
      %h3= pluralize(event.capacity, 'spot')
    %p= truncate(event.description, length: 35, separator: ' ')
    %table
      %tr
        %th When:
        %td= event.starts_at
      %tr
        %th Where:
        %td= event.location
      %tr
        %th Price:
        %td= format_price(event)
