%article.event
  %header
    =image_for(@event)
    %h2= @event.name
    %h3 #{pluralize(@event.capacity, 'spot')} available
    = link_to "Who is Attending?", event_registrations_path(@event)
  %p= @event.description
  %table
    %tr
      %th When:
      %td= @event.starts_at
    %tr
      %th Where:
      %td= @event.location
    %tr
      %th Price:
      %td= format_price(@event)
  = register_link(@event)
  %p #{pluralize(@event.spots_left, "spot")} left
  %p= link_to "Who's Registered?", event_registrations_path(@event)
= link_to "Edit", edit_event_path(@event)
|
= link_to "Delete", event_path(@event), method: :delete, data: {confirm: 'Are you sure?'}
