%h1= pluralize(@projects.size, 'Project')

= link_to "Add New Project", new_project_path

- @projects.each do |project|
  %article
    %header
      %h2= link_to project.name, project
    %p= truncate(project.description, length: 150, separator: ' ', ommission: '...')
    %table
      %tr
        %th Website:
        %td= project.website
      %tr
        %th Goal:
        %td= number_to_currency(project.target_pledge_amount)
      %tr
        %th End Date:
        %td= time_remaining(project.pledging_ends_on)
