= form_for([@movie, @review]) do |f|
  = render 'shared/errors', object: @review
  = f.label :name, autofocus: true
  = f.text_field :name
  = f.label :comment
  = f.text_area :comment, cols: 40, rows: 7
  - Review::STARS.each do |star|
    = f.label :stars, star
    = f.radio_button :stars, star
    
  = f.submit