= form_for(@movie) do |f|
  = render 'shared/errors', object: @movie
  = f.label :title
  = f.text_field :title, autofocus: true
  = f.label :description
  = f.text_area :description, cols: 40, rows: 7
  = f.label :director
  = f.text_field :director
  = f.label :cast
  = f.text_field :cast
  = f.label :image_file_name
  = f.text_field :image_file_name
  = f.label :rating
  = f.select :rating, Movie::RATINGS, prompt: "Pick one"
  = f.label :total_gross
  = f.number_field :total_gross
  = f.label :duration
  = f.text_field :duration
  = f.label :released_on
  = f.datetime_select :released_on
  - unless @movie.new_record?
    = f.label :slug
    = f.text_field :slug
  = f.collection_check_boxes(:genre_ids, Genre.all, :id, :name)
  = f.submit
  = link_to "Cancel", movies_path
