%h1= pluralize(@movies.size, 'Movie')

- @movies.each do |movie|
  %article.movie
    %header
      = image_for(movie)
      %h2=link_to movie.title, movie
    %p= truncate(movie.description, length: 100, separator: ' ', omission: '...')
    %table
      %tr
        %th Director:
        %td= movie.director
      %tr
        %th Cast:
        %td= movie.cast
      %tr
        %th Released:
        %td #{movie.released_on.to_s(:default)} (#{time_ago_in_words(movie.released_on)} ago)
      %tr
        %th Rating:
        %td= movie.rating
      %tr
        %th Duration:
        %td= movie.duration
      %tr
        %th Total Gross:
        %td= format_total_gross(movie)
