%article.movie
  %header
    = image_for(@movie)
    %h2= @movie.title
  %p= @movie.description
  = link_to "Reviews", movie_reviews_path(@movie)
  %table
    %tr
      %th Director:
      %td= @movie.director
    %tr
      %th Cast:
      %td= @movie.cast
    %tr
      %th Released:
      %td #{@movie.released_on.to_s(:default)} (#{time_ago_in_words(@movie.released_on)} ago)
    %tr
      %th Rating:
      %td= @movie.rating
    %tr
      %th Duration:
      %td= @movie.duration
    %tr
      %th Total Gross:
      %td= low_gross_or_cult(@movie)
    %tr
      %th Average Reviews:
      %td= format_average_stars(@movie)
  - if @movie.recent_reviews.any?
    %h3 Recent Reviews
    %ol
      - @movie.recent_reviews.each do |review|
        %li #{review.name} gives it #{pluralize(review.stars, "star")} and says, "#{review.comment}"
    %p Read all #{link_to pluralize(@movie.reviews.size, "review"), movie_reviews_path(@movie)}

= link_to "Add a Review", new_movie_review_path(@movie)
|
= link_to "Edit", edit_movie_path(@movie)
|
= link_to "Delete", movie_path(@movie), method: :delete, data:{confirm: 'Are you sure?'}
